


<div id="concept" class="">
<h2>"ぐる即！" は、飲食店の即時予約サービスです。</h2>
</div>


<div class="">
<h3>導入のメリット</h3>
</div>

<div class="">
<h3>お客様の声</h3>
</div>

<div class="">
<h3>資料請求はこちらからどうぞ</h3>
企業名：<input type="text">
住所：<input type="text">
</div>



