



.header {
color: #fff;
  background: #00BCD4;
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
  padding-bottom: 10px;
  text-align: center;
}


.footer a{
text-align: center;
text-decoration:  none;
}

input[type=button] {
text-align: center;

  display: none;
}

input[type="button"].location:checked + label {
text-align: center;

  background: #31A9EE;
  color: #ffffff;
}
.check_label:hover {
text-align: center;
  background-color: #E2EDF9;
}
.check_label{
text-align: center;
    text-decoration:  none;             /* デフォルトCSS打ち消し */
    color: #fff;                        /* 文字色指定 */
    background-color: #00BCD4;          /* 背景色指定 */
    width: 300px;                       /* 幅指定 */
    display: block;                     /* ブロック要素にする */
    text-align:  center;                /* 中央揃え */
    padding: 15px;                      /* 余白指定 */
    border-radius:  5px;                /* 角丸指定 */
    font-size: 24px;                    /* 文字サイズ指定 */
    box-shadow: 0 2px 10px 0 #9E9E9E;   /* 影指定 */
}





/* checkbox */
input[type=checkbox] {
text-align: center;

  display: none;
}
input[type="checkbox"].checkbox:checked + label {
text-align: center;

  background: #31A9EE;
  color: #ffffff;
}
.check_label:hover {
text-align: center;
  background-color: #E2EDF9;
}
.check_label{
text-align: center;
    text-decoration:  none;             /* デフォルトCSS打ち消し */
    color: #fff;                        /* 文字色指定 */
    background-color: #00BCD4;          /* 背景色指定 */
    width: 300px;                       /* 幅指定 */
    display: block;                     /* ブロック要素にする */
    text-align:  center;                /* 中央揃え */
    padding: 15px;                      /* 余白指定 */
    border-radius:  5px;                /* 角丸指定 */
    font-size: 24px;                    /* 文字サイズ指定 */
    box-shadow: 0 2px 10px 0 #9E9E9E;   /* 影指定 */
}



.checl_label_02{
  display: block;
  text-decoration:  none;
  float: left;
  margin: 5px;
  width: 100px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  color: #31A9EE;
  border: 2px solid #006DD9;
  border-radius: 5px;
}





.button{
list-style: none;
display: flex;
align-items: center;
}

.button li{
text-align: center;
margin-left: 5px;
margin-right: 5px;
}

.button li a{
text-align: center;
}

.radius_test {
    text-decoration:  none;             /* デフォルトCSS打ち消し */
    color: #fff;                        /* 文字色指定 */
    background-color: #00BCD4;          /* 背景色指定 */
    width: 300px;                       /* 幅指定 */
    display: block;                     /* ブロック要素にする */
    text-align:  center;                /* 中央揃え */
    padding: 15px;                      /* 余白指定 */
    border-radius:  5px;                /* 角丸指定 */
    font-size: 24px;                    /* 文字サイズ指定 */
    box-shadow: 0 2px 10px 0 #9E9E9E;   /* 影指定 */
}

.location{
list-style: none;
display: flex;
align-items: center;
}


.to_tenpo_page {
list-style: none;

    text-decoration:  none;             /* デフォルトCSS打ち消し */
    color: #fff;                        /* 文字色指定 */
    background-color: #00BCD4;          /* 背景色指定 */
    width: 200px;                       /* 幅指定 */
    display: block;                     /* ブロック要素にする */
    text-align:  center;                /* 中央揃え */
    padding: 12px;                      /* 余白指定 */
    border-radius:  5px;                /* 角丸指定 */
    font-size: 18px;                    /* 文字サイズ指定 */
    box-shadow: 0 2px 10px 0 #9E9E9E;   /* 影指定 */
}

.card {
width: 95%;
margin: 20px;
border-radius: 5px;
background-color: #fff;
box-shadow: 0 3px 6px #ccc;
}
.card-image {
width: 100%;
height: 200px;
object-fit: cover;
border-radius: 5px 5px 0 0;
}

.card-content {
  padding: 20px;
}
.card-title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}
.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}
.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}
.card-link a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}
.card-link a:hover {
  color: #0090aa;
}

.card-yoyaku{
  text-decoration:  none;
  list-style: none;
  display: block;
  align-items: center;
  margin: 5px;
  width: 800px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  color: #31A9EE;
  border: 2px solid #006DD9;
  border-radius: 5px;
  font-size: 24px;
}







#map {
    width: 600px;
    height: 400px;
    margin: 0 auto;
}












