.button{
list-style: none;
display: flex;
align-items: center;
}

.button li{
text-align: center;
margin-left: 5px;
margin-right: 5px;
}

.button li a{
text-align: center;
}

.radius_test {
    text-decoration:  none;             /* デフォルトCSS打ち消し */
    color: #fff;                        /* 文字色指定 */
    background-color: #00BCD4;          /* 背景色指定 */
    width: 300px;                       /* 幅指定 */
    display: block;                     /* ブロック要素にする */
    text-align:  center;                /* 中央揃え */
    padding: 15px;                      /* 余白指定 */
    border-radius:  5px;                /* 角丸指定 */
    font-size: 24px;                    /* 文字サイズ指定 */
    box-shadow: 0 2px 10px 0 #9E9E9E;   /* 影指定 */
}


.to_tenpo_page {
list-style: none;
    text-decoration:  none;             /* デフォルトCSS打ち消し */
    color: #fff;                        /* 文字色指定 */
    background-color: #00BCD4;          /* 背景色指定 */
    width: 200px;                       /* 幅指定 */
    display: block;                     /* ブロック要素にする */
    text-align:  center;                /* 中央揃え */
    padding: 12px;                      /* 余白指定 */
    border-radius:  5px;                /* 角丸指定 */
    font-size: 18px;                    /* 文字サイズ指定 */
    box-shadow: 0 2px 10px 0 #9E9E9E;   /* 影指定 */
}
