
<header class="header">
    <div class="header__bar row" style="text-align: center;">
      <h1 class="grid-6"><a href="/">ぐる即！</a></h1>
      <p>
        - 徒歩3分、空いてる居酒屋、すぐ予約！-
      </p>
    </div>
  </header>

