 <h2 style="text-align: center;">何名様ですか？</h2>
    <ul style="text-align: center;" class="button">
      <li>
        <a href="kensaku_map.html" class="radius_test">4</a>
      </li>
      <li>
        <a href="kensaku_map.html" class="radius_test">5 ~ 6</a>
      </li>
      <li>
        <a href="kensaku_map.html" class="radius_test">7 ~ 8</a>
      </li>
      <li>
        <a href="kensaku_map.html" class="radius_test">9 ~ 10</a>
      </li>
    </ul>


<br/><br/><br/>
<a style="text-align: center;" class="to_tenpo_page" href="tenpotop.html">店舗様向けご案内ページ</a>
<br/>
