 <h2 style="text-align: center;">何名様ですか？</h2>
    <ul style="text-align: center;">
      <li>
        <a href="kensaku_map.html">4名</a>
      </li>
      <li>
        <a href="kensaku_map.html">5~6名</a>
      </li>
      <li>
        <a href="kensaku_map.html">7~8名</a>
      </li>
      <li>
        <a href="kensaku_map.html">9~10名</a>
      </li>
    </ul>


<br/><br/><br/>
<h3 style="text-align: center;"><a href="tenpotop.html">店舗様向けご案内ページ</a></h3>
<br/>
