
</br></br></br></br></br>
 <h2 style="text-align: center;">何名様ですか？</h2>
 </br>
    <ul style="text-align: center;" class="button">
      <li>
        <a href="kensaku_map.html" class="radius_test">
          <%= form_tag('/reserve', method: :post) do %>
          <input id=”submit_button” type="submit" value="3~4人">
          <% end %>
        </a>
      </li>
      <li>
        <a href="kensaku_map.html" class="radius_test">5 ~ 6</a>
      </li>
      <li>
        <a href="kensaku_map.html" class="radius_test">7 ~ 8</a>
      </li>
      <li>
        <a href="kensaku_map.html" class="radius_test">9 ~ 10</a>
      </li>
    </ul>


<br/><br/><br/>


<div class="contents row">
  <%= form_tag('/reserve', method: :post) do %>
    <input type="submit" value="3~4人">
  <% end %>
</div>

<%= link_to “3~4人”, :controller => "reserve", :action => "map"%>
