
<h2 style="text-align: center;">お店を選択してください</h2>

<%= form_tag new_user_registration_path, :method => 'get' do %>
<input hidden name="number" value="#{@number}">
<input hidden name="location_lat" value="#{@latitude}">
<input hidden name="location_lon" value="#{@longitude}">

<% end %>


<script type="text/javascript">
function initMap() {
  var location ={lat: 35.678647, lng: 139.767384};
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: location
  });
  var transitLayer = new google.maps.TransitLayer();
  transitLayer.setMap(map);

  var contentString = '住所：東京都千代田区丸の内１丁目９−２';
  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });

        var marker = new google.maps.Marker({
            position:location,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBiKAJR9OHYaiIgqc2Fb1MdU-yGaWKlsio&callback=initMap">
</script>



<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  東京都千代田区丸の内１丁目９−２
</p>

<p>
  <strong>Latitude:</strong>
  35.678647
</p>

<p>
  <strong>Longitude:</strong>
  139.767384
</p>

<style type="text/css">
  #map { height: 400px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width: 80%;}
</style>
<div id="map"></div>

<%= link_to 'Back', reserve_search_path %>

<% @rest %>









