<h2 style="text-align: center;">お店を選択してください</h2>

<%= form_tag new_user_registration_path, :method => 'get' do %>
<input hidden name="number" value="#{@number}">
<% end %>
<%= javascript_include_tag "google_map.js" %>


<div id="map">



</div>
