
</br></br></br></br></br>
 <h2 style="text-align: center;">何名様ですか？</h2>
 </br>
    <ul style="text-align: center;" class="button">
      <li>
        <a href="kensaku_map.html" class="radius_test">4</a>
      </li>
      <li>
        <a href="kensaku_map.html" class="radius_test">5 ~ 6</a>
      </li>
      <li>
        <a href="kensaku_map.html" class="radius_test">7 ~ 8</a>
      </li>
      <li>
        <a href="kensaku_map.html" class="radius_test">9 ~ 10</a>
      </li>
    </ul>

<br/><br/>
.currentLocation
  = button_tag ‘現在地から探す’, type: ‘button’


